body{
	transition: 0.3s ease;
	background-color:#f4f4f4;
	
}
.staradi{
	text-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.3);
	
	transition:0.5s ease ;
	text-decoration: underline;	
}

.ime{
	
	text-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.3);
	transition:1s ease ;
	
}
.ime:hover{
	
	text-decoration: underline;
	
}

#headerimagebg{
	background-image: url('https://preview.c9users.io/lukaratic/systemproproj1/Simple-Irregular-Shapes-Background-Vector-01.jpg?_c9_id=livepreview1&_c9_host=https://ide.c9.io');
opacity: 0.3;

    width:100%;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:500px;
	
	box-shadow:5px -8px 35px #000000;
	transition:0.5s ease;
	z-index:-100;
	
}

.jumbotron{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
	height:100%;
	margin-top:20px;
}
#main-content-window-nem{
	
	
background-image:url("download.png");

background-position: center;

background-repeat: no-repeat;
background-size: 100% 100%;
	background-color:#ffffff;
	width:75%;
	height:800px;
	position:relative;
	padding-top: 20px;
	padding-bottom:20px;

	transition:1s ease;
	z-index:-99 ;
    

	top:-40px;
	margin-bottom:50px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

	border-radius:5px 5px 5px 5px;
	
	
	
}
#avatar-plaintext{
	height: 128px;
	width:128px;	
	border-radius:100px;
	position: relative;
	top:20px;
	left:20px;
			box-shadow:0px 8px 15px rgba(0, 0, 0, 0.3);
overflow-y: scroll;
	
}
#plain-text{
	
	font-family:arial;
	
	margin-top:30px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:50px;
	
}
#exp-title{
	position: relative;
	top:-68px;
	margin-left:188px;
	font-size:48px;
	transition: 0.3s ease;
	
}
#exp-title:hover{
	
	color:gray;
	
}
.imgavfave{
	
	border-radius:100px;
				box-shadow:0px 5px 15px rgba(0, 0, 0, 0.3);

	
}

.imgavfavse{
	
	border-radius:100px;
				box-shadow:0px 5px 15px rgba(0, 0, 0, 0.5);

	
}

#callfavourites{
	
	border:none;
	position:fixed;
	top:30px;
	width:48px;
	height:48px;
	border-radius:100px;
	background-color:#ff0e7a;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
	left:125px;
	
}

#rounder {
	margin-top: 2px
}
#faveavatar1{
	
		position:relative;
	margin-left:10px;
	margin-right:0px;
	margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar1:hover{
	
	width:56px;
	height:56px;
	transition: all 0.2s ease;
}

	
#faveavatar2{
	
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar2:hover{
	
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}

#faveavatar3{
	
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar3:hover{
	
		width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}
#faveavatar4{
	
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar4:hover{
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}
#faveavatar5{
	
		position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar5:hover{
	
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}

#faveavatar6{
	
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar6:hover{
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}
#faveavatar7{
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar7:hover{
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}
#faveavatar8{
	
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar8:hover{
	width:56px;
	height:56px;
	transition: all 0.2s ease;
}

#faveavatar9{
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar9:hover{
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}
#faveavatar10{
	
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar10:hover{
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}
#faveavatar11{
	
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar11:hover{
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}

#faveavatar12{
	position:relative;
	margin-left:10px;
	margin-right:0px;
		margin-bottom: 10px;
	top:20px;
	
	width:48px;
	height:48px;
				
				border:none;

}

#faveavatar12:hover{
	width:56px;
	height:56px;
	transition: all 0.2s ease;
	
}


#UserAvatar1{
	position:fixed;
	right:56px;
	bottom:56px;
	background-color:#0098b8;

	width:56px;
	height:56px;
		cursor:pointer;
			
				border:none;

}
#notifier_UA1{
color:#ffffff;
font-size:12px;
padding-left:4px;
padding-top: 0px;
	width:16px;
	height: 16px;
	border-radius:100px;
	background-color: red;
	position:fixed;
	right:52px;
	bottom:90px;
	cursor:pointer;
	transition: 0.2s ease;
}

#UserAvatar1:hover{

	transition: all 0.2s ease;
	
}
#help-drawer-right{
	position:fixed;
	height:100%;
	width:300px;
	background-color: #ffffff;
	right:-100%;
	top:0px;
	bottom:0px;
	z-index:9999999999;
	transition:0.3s ease ;
		box-shadow:5px 0px 25px rgba(0, 0, 0, 0.5);

}
#closeHelpUAmenu{
	
	width:100%;
	background-color: rgba(0, 0, 0, 0.2);
	height:45px;
	padding-left:7px;
		
	padding-top:2px;
color:#ffffff;
	border:none;
	text-align: left;
}



#faveit{
	
border:none;
border:2px solid #ff0e7a;
background-color:#ffffff;
border-radius:2px;
color:#ffffff;
height:32px;
width:70px;
	cursor:pointer;
}
#faveit:active{
	
	background-color:#ff0e7a;
	transition: all 0.2s ease;
	
	
}
#actions{
	
	border:none;
	border-radius:5px;
	

}

#mailme{
	
	border:none;
border:2px solid #43b4ff;
background-color:#ffffff;
border-radius:2px;
color:#ffffff;
height:32px;
width:40px;
		cursor:pointer;
}

#mailme:active{
	
	background-color:#43b4ff;
	transition: all 0.2s ease;
	
	
}

#leave{
	
	position:fixed;
	bottom:75px;
	right:75px;
	margin-right: 10px;	width:64px;
	height:64px;
	
	background-color:#028ad6;
	border:none;
	
	border-radius:100px;
	
	box-shadow:2.5px 2.5px 15px #4c4c4c;
	transition: all 0.5s ease;
	cursor:pointer;
}
#menu-button{
	
position:fixed;
top:25px;
left:20px;
border:none;
width:64px;
height:64px;	
border-radius:-100px;
cursor:pointer;
transition: all 0.5s ease;

background-color:#028ad6;	
}
#menu-button:hover{

border-radius:100px;
background-color:#016eab;

}
#menu-button:active{
	
	background-color:#016095;
	
}

#cmenu-button{
	
position:fixed;
top:25px;
left:20px;
border:none;
width:64px;
height:64px;	
border-radius:-100px;
cursor:pointer;
transition: all 0.5s ease;

background-color:#028ad6;	
}
#cmenu-button:hover{

border-radius:100px;
background-color:#016eab;

}
#cmenu-button:active{
	
	background-color:#016095;
	
}

#leave:hover{
	
	background-color:#016eab;
	
}
#leave:active{
	background-color:#016095;
		box-shadow:5px 5px 15px #4c4c4c;

	
}




#menu{
	
	height:100%;
	width:400px;
	box-shadow:5px 5px 15px #4c4c4c;
	background-color:#ffffff;
	z-index:99999;
	position:fixed;
	left:0px;
	top:0px;
	bottom:0px;
	
	font-family:arial;

	visibility:hidden;
	
}
#menujpg1{
	width:48px;height:48px;
	position:fixed;
	left:10px;
	top:120px;
	
	
}
#menujpg2{
width:48px;height:48px;	

position:fixed;
	left:10px;
	top:268px;
	
	
}
#menujpg3{

	width:48px;height:48px;
	
	position:fixed;
	left:10px;
	top:386px;
	
}

#menulist{
	
	list-style-type:none;
	display:inline;
	padding:0
	
}
#banner-menu{
	background-color:#028ad6;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:125px;
	width:400px;
	
}
.devider{

border:0.2px dotted gray;


}


.lala{
	
	border-radius:100px;
	width:100px;
	height:100px;	
		box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.4);

}

.lala:hover{


}
footer {
	text-align: center;
	background-color: #e5e5e5;
}


 #menu-left{
        
        visibility: visible;
        
    }
   

@media screen and (max-width: 1201px) {
    
    
     #menu-left{
        visibility: visible;
       
        
    }
    

    #main-content-window-nem{
	
	background-color:#ffffff;
	width:100%;
	height:100%;
	position:fixed;
	margin-left:0px;
	margin-right:0px;
 box-shadow:none;

	
	top:95px;
	border-radius:5px 5px 5px 5px;
	
	
	
}
#avatar-plaintext{
	height: 128px;
	width:128px;	
	border-radius:5px;
	position: relative;
	top:-10px;
	left:0px;
			box-shadow:0px 7px 15px rgba(0, 0, 0, 0.5);

	
}
#headerimagebg{
	
	background-color:#ffffff;
background-image: none;
    width:100%;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:400px;
	

	transition:0.5s ease;
	z-index:-100;
	
}

#exp-title{
	position: relative;
	margin-left:0px;
	margin-top:126px;
	font-size:38px;
	
}
.jumbotron{
	box-shadow:none;
	background-color: #ffffff;
	height:100%;
	margin-top:0px;
}
body{
	
	background-color:#fff;
	
}



}





@media screen and (max-width: 400px) {


#help-drawer-right{
	position:fixed;
	height:100%;
	width:100%;
	background-color: #ffffff;
	right:-100%;
	top:0px;
	bottom:0px;
	z-index:9999999999;
	transition:0.3s ease ;
		box-shadow:5px 0px 25px rgba(0, 0, 0, 0.5);

}
    
   
   
    
}
@media screen and (max-width: 1201px) {
    
    
     #menu-left{
        visibility: visible;
          		z-index:99999999;

        
    }

	
}
    
   